html {
    font-family: 'Arvo', serif;
}

body {
    background: url(../img/paisley.png) center center repeat;
}

.aframe-wrapper {
    max-width: 80%;
    max-height: 95vh;
    margin: 0;
    padding: 0;
    margin: 2.5vh auto;
    /* -webkit-box-shadow: 10px 10px 5px -4px rgba(51,51,51,0.31);
    -moz-box-shadow: 10px 10px 5px -4px rgba(51,51,51,0.31);
    box-shadow: 10px 10px 5px -4px rgba(51,51,51,0.31); */
}

.life-holder {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 300;
    padding: 15px 5px;
}

.heart {
    width: 50px;
    padding: 0 10px;
    display: initial;
}

.timer {
    position: absolute;
    top: 0;
    left: calc(50% - 50px);
    z-index: 300;
    width: 100px;
    color: #fff;
    /* background: green; */
    text-align: center;
    font-weight: 700;
    font-size: 4em;
}

.ammo-holder {
    position: absolute;
    bottom: 0;
    left: calc(50% - 145px);
    width: 250px;
    background: #333333;
    z-index: 300;
    text-align: center;
    padding: 10px 20px 5px 20px;
    border-radius: 15px 15px 0 0;
}

.bullet {
    width: 28px;
    display: initial;
    padding: 5px;
}

.reloading {
    color: #fff;
    position: absolute;
    top: 34px;
    width: 250px;
    text-align: center;
    z-index: 350;
    font-size: 2.1em;
    font-weight: 700;
    display: block;  
}

.score-holder {
    position: absolute;
    top: 0;
    right: 15px;
    z-index: 300;
    color: #fff;
    font-weight: 700;
    font-size: 4em;
}

.score-label {
    float: left;
}

.score {
    width: 125px;
    float: right;
    text-align: right;
}

.blood-screen {
    width: 100%;
    height: 95vh;
    opacity: .8;
    background: #400000;
    position: absolute;
    top: 0;
    z-index: 500;
}

.opacity-half {
    opacity: .3;
}

.hide {
    display: none;
}

.pulse-animation {
    animation: pulse 1s linear infinite;
}

@keyframes pulse {
    0% {
        transform: scale(1);
    }

    50% {
        transform: scale(1.25);
    }

    100% {
        transform: scale(1);
    }
}